name: Demo Workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
        working-directory: ./Demo_oferty
      - name: Run script and test
        run: |
          node index.js &
          sleep 5
          curl http://localhost:3000 | grep "Hello World!"
        working-directory: ./Demo_oferty
